{% extends "base.html" %}

{% block js_content %}
    <script type='text/javascript' src='/static/js/deploy/setup.js'></script>
{% endblock %}

{% block main_content %}
           <div class="left_section">
            <div class="block small ">
                <div class="block_head">
                    <h2>Setup Environment</h2>
                </div>  
                
                <div class="block_content">
                    <form method="POST">
                        {% csrf_token %}
                        
                        <table width="100%">
                            {{form.as_table}}
                            <tr>
                                <td colspan="2"><input class="submit small" type="button" name="login" value="Add" id="add" /></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="right_section">
            <div class="block small ">
                <div class="block_head">
                    <h2>Help</h2>    
                </div>  
                
                <div class="block_content">
                    <p>
                        You need to setup your environments. If you don't have multiple environments just click finish below and your default
                        environment will be called production.
                    </p>
                </div>
            </div>
        </div>

        <div class="right_section">
            <div class="block small ">
                <div class="block_head">
                    <h2>Added Environments</h2>    
                </div>  
                
                <div class="block_content">
                    <ul class="envs">
                        {% for env in envs %}
                            <li><img src="/static/images/remove.gif" class="remove_env" id="{{env.id}}">{{env.name}} ({{env.function}})</li>
                        {% endfor %}
                    </ul>
                    <p>
                        <form>
                            <input class="submit small" type="button" name="login" value="Finish"/>
                        </form>
                    </p>

                    <div class="message info" id="show_env_warning" {% pyif envs.count > 0 %} style="display:none;"{% endif %}>
                        <p>
                            You do not have an environments setup, so you are defaulting to production
                        </p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}