{% extends "base.html" %}

{% load deploy_tags %}

{% block main_content %}


    
           <div class="left_section">
            <div class="block small ">
                <div class="block_head">
                    <h2>Recent Activity</h2>
                </div>  
                
                <div class="block_content">
 
                    <table width="100%">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for domain in domains %}
                                <tr class="{% cycle 'row' 'row2' %}">
                                    <td>{{domain.domain}}</td>
                                    <td>
                                        {% pyif domain.active %}
                                            <img src="/images/icons/yes.gif">
                                        {% else %}
                                            <img src="/images/icons/no.gif">
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="right_section">
            <div class="block small ">
                <div class="block_head">
                    <h2>Attention</h2>    
                </div>  
                
                <div class="block_content">
                    {% get_new_projects as projects %}
                    
                    {% pyif projects.count > 0 %}
                        <p>The following projects are new and require a setup</p>
                        <ul>
                        {% for project in projects %}
                            <li><a href="/deploy/setup/{{project.id}}/">{{project}}</a></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            
            <div class="block small ">
                <div class="block_head">
                    <h2>Quick Commands</h2>    
                </div>  
                
                <div class="block_content">

                </div>
            </div>
        </div>


{% endblock %}