{% extends "base.html" %}

{% block main_content %}


    
            <div class="block small center login"> 
                <div class="block_head"> 
                    <h2>Add a Domain</h2> 
                    <!--<ul> 
                        <li><a href="#">back to the site</a></li> 
                    </ul>-->
                </div>
            
                <div class="block_content"> 
                    <p>
                        You need to enter a domain to take full advantage of our system. You can change this
                        if needed.
                    </p>
                
                    <form method="post" action="/">
                        {{form.as_p}}
                        
                        <br />
                        <p>
                            <label>&nbsp;</label>
                            <input class="submit small" type="submit" name="login" value="Create"/>
        
                        </p>
                    </form>
                </div>
            </div>


{% endblock %}